@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*, *::before, *::after{
box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

* {
margin: 0;
padding: 0;
font: inherit;
/* background-color: rgba(256, 256, 256, 0.1); */

}
html{
	color-scheme: dark light;

}
body{
position: relative;
display: flex;
flex-direction: column;
place-item: center;
font-family: 'Noto Sans', sans-serif;
min-width: 100vh;
}
img, picture, svg, video{
display: block;
max-width: 100%;
}
nav{
	display: grid;
	place-items: center;
	position: fixed;
	width: 100%;
	top: 5px;
}
section{
	display: grid;
	justify-content: center;
	margin-top: 4rem;
	min-width: 100vh;
}
form{
	margin: 1rem;
}

.nav-div{
	display:grid;
	place-items: center;
	background-color: hsla(216, 85%, 34%, 0.8);
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
	max-width: 1200px;
	backdrop-filter: blur(4px);
	z-index: 500;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 6px;
	margin: 0 5px;
}

#ham{
	position: relative;
	width: 3rem;
	height: 3rem;
	display: grid;
	place-items: center;
	background-color: transparent;
	border: 0;
	margin-left: 1rem;
}

.ham-icon-div{
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.ham-icon{
	--var-ham: 2rem;
	--var-ham-height: 2px;
	--var-ham-border-radius: 50px;
	width: var(--var-ham);
	height: var(--var-ham-height);
	background-color: white;
	border-radius: var(--var-ham-border-radius);
}

.ham-icon:before{
	content: '';
	top: 13px;
	position: absolute;
	display: block;
	width: var(--var-ham);
	height: var(--var-ham-height);
	background-color: white;
	border-radius: var(--var-ham-border-radius);
	
}
.ham-icon:after{
	content: '';
	display: block;
	width: var(--var-ham);
	height: var(--var-ham-height);
	background-color: white;
	position: absolute;
	bottom: 13px;
	border-radius: var(--var-ham-border-radius);
}

.logo{
	width: 100%;
	display: flex;
	justify-content: center;
}

.logo > img{
	width: 3.5rem;
	height: 3.5rem;

}

.back{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(20px);
}

.list-notes{
	display:none;
	flex-direction: column;
	position: fixed;
	background-color: #1565c0;
	color: white;
	width: 300px;
	height: 100%;
	z-index: 2000;

}
.list-note-heading{
	background-color: #0d47a1;
	font-weight: 600;
	font-size: 26px;
	text-decoration: underline;
	padding: 1.2rem 1rem;
}
.ham-list-item{
	border: 2px solid transparent;
	overflow: auto;
}
.anchor-ham{
	display: block;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.anchor-ham .ham-item{
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	border-radius: 4px;
	padding: 0.5rem;
}
.anchor-ham .ham-item > h3{
	font-size: 18px;
	font-weight: 600;

}
.anchor-ham .ham-item > p{
	position:relative;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	height: 2.5rem;
	overflow: hidden;
}
.active{
	display: flex;
}

.note-app{
	color: white;
	font-size: 30px;
	font-weight: 400;
}


.search-div{
/* 	background-color: red; */
	width: 100%;
	margin-right: 2rem;
}

#search{

	padding: 0.3rem 1rem;
	width: 100%;
	border: 0;
	border-radius: 50px;
}
#search:focus{
	outline: none !important;
}

#add{
	display: grid;
	place-items: center;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	position: fixed;
	bottom: 2rem;
	right:  2rem;
	font-size: 30px;
	font-weight: 600;
	background-color: orange;
	border:  0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}

.list-items{
	display: flex;
	max-width: 800px;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1rem;


}
.item{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: max-content;
	flex-wrap: wrap;
	background-color: #64b5f6;
	border-radius: 8px;
}

.item .text-div {
	display: grid;
	place-items: center;
	width: 100%;
}
.item .text-div > textarea{
	background-color: transparent;
	padding: 0.4rem;
	width: 100%;
	resize: none;
	font-size: 16px;
	font-weight: 400;
	border: 0;
	border-radius: 8px;
	font-style: italic;
	color: black;
}
.item  .text-div > textarea::placeholder{
	color: white;
}
.item .text-div > textarea:focus{
	outline: none !important;
	border: 0px solid #0d47a1;
}
.item .delete-div{
	display:flex;
	justify-content: space-between;
	width: 100%;
}
.item .delete-div .note-heading > textarea{
	background-color: transparent;
	width: 300px;
	height: 2rem;
	font-weight: 600;
	font-size: 22px;
	padding:0 0.5rem;
	color: #0d47a1;
	resize: none;
	border: 0;
}
.item .delete-div .note-heading > textarea::placeholder{
	color: #0d47a1;
}
.item .delete-div .note-heading > textarea:focus{
	outline: none !important;
}
.item .delete-div .delete-button{
	display: grid;
	background-color: transparent;
	font-weight: 400;
	font-family: 'Orbitron', sans-serif;
	font-size: 24px;
	color:  #0d47a1;
	place-items: center;
	border: 0;
	height: 2rem;
	width: 2rem;
	border-radius: 4px;
}




@media only screen and (max-width: 1000px) {
  .list-items{
  	grid-template-columns: 1fr 1fr;
  }
	.nav-div{
		width: 100%;
	}
}

@media only screen and (max-width: 750px) {
	.nav-div{
		width: 100%;
	}
	.note-app{
	color: white;
	font-size: 15px;
	font-weight: 400;
	}
  .list-items{
  	grid-template-columns: 1fr;
  }
  .item  .text-div > textarea{
	
		height: max-content;
	}
}
